{% extends '::base.html.twig' %}


{%block body %}
    <table><tr height="100"></tr></table>
    <div>
        {% for art in articles %}
            <div class="col-lg-3">
                <div class="col-lg-12">
                    <img src="{{ asset('uploads/') }}{{art.photo}}" alt="photo" width="30" height="120"/>
                </div>
                <div class="col-lg-12">
                    <a href="{{ path('blog_article_detail', {'slug': art.slug}) }}">{{art.titre}}</a>
                </div>
                 <div class="col-lg-12">
                    {{art.Description}}
                </div>
            </div>

            {%endfor%}
    </div>

{%endblock%}